<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ignite Family</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
</head>
<body>
    <div class="banner" style="background-image: url('static/ignite_b3_family-compressed.jpg') ">
        <div class="navebar">
            <a href="#"><img class="logo" src="https://img.icons8.com/external-stickers-smashing-stocks/344/external-Friends-friendship-day-stickers-smashing-stocks.png" loading="lazy"  width="60px" height="60px"  ></a>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Instagram Page</a></li>
                <li><a href="https://www.youtube.com/c/tcservishal" target="_blank">YouTube Page</a></li>
                <li><a href="#">Blog Page</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Ignite Batch_33 B3 Family</h1>
            <p>Surround yourself with the love of family.<br> The insanity of a family is what you'll miss the most. <br> Together, we are never alone. Love reaches around the globe. </p>
            <div class="btn">
              <a href="/sign_up" target="_blank"><span></span>Be a member</a>
              <a href="/login" target="_blank"><span></span>Already a member</a>
            </div>
        </div>
    </div>
</body>
</html>
</body>
</html>